*{
    margin: 0;
    padding: 0;
    font-family: open sans,sans serif;
}
h1{
    color:#1e266d ;
    

}
p{
    color:rgb(159, 89, 89);
}
a{
    text-decoration: none;
}
button{
 background-color: darkblue;
 color: white;
 margin: 5px;
 padding: 5px;
}
.container{
    width: 90%;
    margin: 0 auto;
    color: #fff;
  }
header{
    width: 100%;
}
header .nav{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}


header .nav{
    align-items: center;
    margin: 20px;
    padding: 10px;
    
}
header .nav .logo img{
    width: 50%;
    margin: 10px;
    padding: 15px;
}
header .nav .menu li{
    display: inline-block;
    margin-top: 8px;
   
    text-align: center;
}
header .nav .menu li a{
    font-size: 22px;
    margin-right: 10px; 
}
header .nav .btn{
margin: 25px;
padding: 13px;
}
/* -----sectaion-1----- */
.section-1{
    width: 100%;
}
.section-1  .flex-box1{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    padding: 10px;

}
.section1 .flex-box1 .text h1{
    font font-size:150px;
    line-height:40px;
    font-weight:700;
    color:#1e266d;
}
.section-1  .flex-box1 .text p{
    color: #1e266d;
    padding-top: 18px;
    font-size: 20px;
    font-weight: 100;
}
.section-1  .flex-box1 .img-box img{
    width: 100%;
}

/* -----section-2---- */
.section-2{
    width: 100%;
}
.section-2 .c-carrier{
    display: flex;
    justify-content: space-between;
}
.section-2 .c-carrier .graduate{
    background-color: #f9799a;
    margin-right: 20px;
    padding: 10px 20px;
    border: 2px;
    border-radius: 10px;
}
.section-2 .c-carrier .earned{
    background: #61c4d8;
    margin-right: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px;
    border-radius: 10px;
}
.section-2 .c-carrier .members{
    background: #1e266d;
    margin-right: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px;
    border-radius: 10px;
}
.section-3{
    width: 100%;
}
.section-3  .flex-box3{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    padding: 10px;

}
.section-3 .flex-box3 .text3 h3{
    font font-size:250px;
    line-height:70px;
    font-weight:700;
    color:#1e266d;
}
.section-3 .flex-box3 .text3 h4{
    font font-size:150px;
    line-height:40px;
    font-weight:700;
    color:#1e266d;
}
.section-3  .flex-box3 .text3 p{
    color: #1e266d;
    padding-top: 18px;
    font-size: 20px;
    font-weight: 100;
}
.section-3  .flex-box3 .img-box img{
    width: 100%;
}
.section-4{
    width: 100%;
    background-color: lavender;
}
.section-4  .flex-box4{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    padding: 10px;

}
.section-4 .flex-box4 .text4 h3{
    font font-size:250px;
    line-height:70px;
    font-weight:700;
    color:black;
}
.section-4 .flex-box4 .text4 h4{
    font font-size:150px;
    line-height:40px;
    font-weight:700;
    color:black;
}
.section-4  .flex-box4 .text4 p{
    color: #1e266d;
    padding-top: 18px;
    font-size: 20px;
    font-weight: 100;
}
.section-4  .flex-box4 .img-box img{
    width: 100%;
}
.section-5{
    width: 100%;
    
}
.section-5  .flex-box5{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    padding: 10px;

}
.section-5 .flex-box5 .text5 h3{
    font font-size:250px;
    line-height:70px;
    font-weight:700;
    color:#1e266d;
}
.section-5 .flex-box5 .text5 h4{
    font font-size:150px;
    line-height:40px;
    font-weight:700;
    color:#1e266d;
}
.section-5  .flex-box5 .text5 p{
    color: #1e266d;
    padding-top: 18px;
    font-size: 20px;
    font-weight: 100;
}
.section-5  .flex-box5 .img-box img{
    width: 100%;
}
.section-6{
    width: 100%;
    
}
.section-6  .flex-box6{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    padding: 10px;

}
.section-6 .flex-box6 .text6 h5{
    font font-size:250px;
    line-height:70px;
    font-weight:700;
    color:#1e266d;
}
.section-6 .flex-box6 .text6 h6{
    font font-size:150px;
    line-height:40px;
    font-weight:700;
    color:#1e266d;
}
.section-6  .flex-box6 .text6 p{
    color: #1e266d;
    padding-top: 18px;
    font-size: 20px;
    font-weight: 100;
}
.section-6  .flex-box6 .img-box img{
    width: 60%;
    height: 60%;
}
.section-7{
    width: 100%;   
}
.section-7 .flex-box7 .text-box7 h1{
    text-align: center;
}

.section-7 .flex-box7 .img-box img{
    width: 100%;
    
}
.section-8{
    width: 100%;
}
.section-8 .flex-box8 .text-box8 div{
    display: inline-block;
    justify-content: space-between;
    margin-right: 40px;   
}
.section-9{
     width: 100%;
}
.section-9 .flex-box9{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.section-9 .flex-box9 .text-box9 h1{
    line-height: 100px;
    margin-top: 10px;
}
.section-9 .flex-box9 .text-box9 p{
    line-height: 50px;
    margin-top: 10px;
}
.section-10{
    width: 90%;
    height: 45%;
}
.section-10 .flex-box10 .menu{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 50px;
margin-left: 150px;
    background-color: hsl(218, 80%, 32%);
    padding: 8%;
}
.section-10 .flex-box10 .menu div12 h1{
    color: white;
}
.section-10 .flex-box10 .menu div12 p{
    color: white;
}
.section-10 .flex-box10 .menu div13 h1{
    color: white;
}
.section-10 .flex-box10 .menu div13 p{
    color: white;
}
.footer1{
    100px
}
.footer1 .container .flex-box11 .menu{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}








